/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}


.bg-curso {
  background-color: #8540f5; 
 }
 
 .bg-curso {
  background-color: #8540f5; 
 }
 
 .container-table{
   display:block;
   justify-content: center; /* Centra horizontalmente */  
   height: 80vh; /* Opcional, ajusta la altura al 100% de la pantalla */
 }

 /* components/Navigation.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar .navbar-brand {
  font-size: 1.2em;
}

.nav-items {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.logout-btn {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}